/* Fonts */

@font-face {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

/* General rules */
:root {
  --white: #f9f9f9;
  --black: #000000;
  --background-opacity: rgba(0, 0, 0, 0.65);
  --grey: lightgray;
  --darkgrey: #2b2b2b;
  --cool-chocolate-brown: #1b1111;
  --creamy-latte: #dcc7a1;
  --warm-mocha: #8b5e3c;
  --white-chocolate: #ede6d9;
  --soft-ivory: #f8f1e4;
  --deep-forest-green: #354b43;
  --golden-honey: #c29245;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
}

.container {
  width: 80%;
  margin: 0 auto;
}

.margin-bt-10 {
  margin-bottom: 10px;
}

.margin-bt-20 {
  margin-bottom: 20px;
}

.margin-bt-40 {
  margin-bottom: 40px;
}

/* Header - Hero */

.header-hero {
  background: var(--cool-chocolate-brown);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/our-coffee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Navigation Bar */

nav {
  background: var(--cool-chocolate-brown);
  opacity: 0.7;
  display: flex;
  width: 100%;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo > img {
  height: 50px;
  margin: 0.5rem;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  margin-right: 1rem;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: var(--white);
  font-size: 1.1rem;
  border-bottom: 3px solid transparent;
}

.menu li a:hover {
  border-bottom: 3px solid var(--golden-honey);
}

/* Hero */

.hero {
  height: calc(100vh - 70px);
  padding: 3rem 0;
}

.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-philosophy {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.hero-philosophy > h1 {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
}

.hero-philosophy > p {
  color: var(--grey);
  font-size: 18px;
}

.hero-philosophy button {
  background-color: var(--golden-honey);
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
}

.hero-philosophy a {
  text-decoration: none;
  color: var(--soft-ivory);
}

.hero-philosophy a:hover {
  color: var(--deep-forest-green);
}

/* Journey */

.journey {
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 180px 0;
  background-color: var(--soft-ivory);
}

.journey-title {
  font-size: 30px;
  text-align: center;
}

.journey-title p {
  padding-top: 20px;
  padding-bottom: 80px;
  font-style: italic;
  font-size: 25px;
}

.journey-process {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 2rem;
}

.journey-card {
  width: 250px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.journey-card img {
  width: 100px;
  height: auto;
}

/* Ethical Practices */

.ethical-practices {
  height: 500px;
  background-color: var(--deep-forest-green);
  display: flex;
}

.ethical-practices .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ethical-practices .container img {
  flex: 1;
  height: 300px;
  margin-right: 200px;
}

.ethical-text p {
  flex: 3;
  color: var(--white);
  font-size: 24px;
  font-style: italic;
  text-align: justify;
  line-height: 2;
}

/* Coffee Blends */

.coffee-blends {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 180px 0;
  background-color: var(--soft-ivory);
}

.blend-title {
  font-size: 30px;
  text-align: center;
}

.blend-title p {
  padding-top: 20px;
  padding-bottom: 80px;
  font-style: italic;
  font-size: 25px;
}

.blend-process {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

.blend-card {
  width: 250px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blend-card img {
  width: 200px;
  height: auto;
}

/* Footer */

.footer {
  background-color: var(--darkgrey);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company-logo img {
  height: 50px;
}

.social {
  display: flex;
  gap: 1rem;
}

.social i {
  font-size: 20px;
  color: var(--white);
}

.social .bi-facebook:hover {
  color: #1877f2;
}

.social .bi-instagram:hover {
  color: #f56040;
}

.social .bi-twitter-x:hover {
  color: #1da1f2;
}

.social .bi-youtube:hover {
  color: #cd201f;
}

.find-us {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.find-us h2 {
  font-size: 24px;
}

.find-us li {
  margin-bottom: 5px;
}

.coming-soon {
  font-style: italic;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter h2 {
  font-size: 24px;
  color: var(--white);
}

.newsletter p {
  font-size: 16px;
  color: var(--white);
}

.newsletter-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: var(--deep-forest-green);
}

.newsletter-btn {
  width: 100%;
  padding: 15px;
  background-color: var(--golden-honey);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

.newsletter-btn:hover {
  color: var(--deep-forest-green);
}

.container-copyright {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  color: var(--white);
  font-size: 18px;
}

/* Media queries */

/* Large Devices */
@media (max-width: 1200px) {
  .logo > img {
    height: 40px;
  }
  .menu li a {
    font-size: 1rem;
  }

  /* Journey */

  .journey {
    padding: 50px 0 80px 0;
  }

  .journey-process {
    flex-wrap: wrap;
  }

  /* Ethical Practices */

  .ethical-practices {
    height: 100%;
    padding: 50px 0 50px 0;
  }

  .ethical-practices .container img {
    height: 180px;
    margin-right: 100px;
  }

  .ethical-text p {
    font-size: 19px;
    line-height: 1.7;
    padding-bottom: 20px;
  }

  /* Coffee Blends */

  .coffee-blends {
    padding: 50px 0 80px 0;
  }

  /* Footer */

  .footer .container {
    flex-direction: column;
    padding-top: 50px;
  }

  .company-info {
    align-items: center;
    padding-bottom: 60px;
  }

  .find-us {
    align-items: center;
    padding-bottom: 60px;
  }

  .find-us h2 {
    font-size: 22px;
  }

  .newsletter {
    align-items: center;
    text-align: center;
  }

  .newsletter h2 {
    font-size: 22px;
  }

  .newsletter-input {
    width: 50%;
    margin: 0 auto;
  }

  .newsletter-btn {
    width: 50%;
    margin: 0 auto;
  }

  .container-copyright {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  /* Navigation Bar */

  nav .container {
    justify-content: center;
  }

  .logo > img {
    height: 40px;
  }

  .menu .hide {
    display: none;
  }

  /* Hero */

  .hero-philosophy > h1 {
    font-size: 30px;
  }

  .hero-philosophy > p {
    font-size: 16px;
  }

  /* Journey */

  .journey-title {
    font-size: 20px;
  }

  .journey-title p {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 18px;
  }

  .journey-process {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* Ethical Practices */

  .ethical-practices .container {
    flex-direction: column;
    align-items: center;
  }

  .ethical-practices .container img {
    margin: 0;
    padding-bottom: 30px;
    flex: 0 1 0;
  }

  .ethical-text p {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 20px;
  }

  /* Coffee Blends */

  .blend-title {
    font-size: 20px;
  }

  .blend-title p {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 18px;
  }

  .blend-card img {
    width: 150px;
    height: auto;
  }

  /* Footer */

  .find-us h2 {
    font-size: 20px;
  }

  .newsletter-input {
    width: 60%;
  }

  .newsletter-btn {
    width: 60%;
  }

  .newsletter h2 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .newsletter-input {
    width: 100%;
  }

  .newsletter-btn {
    width: 100%;
  }
}
